* {
  margin: 0;
  padding: 0;
  user-select: none;
}

@media (max-width: 2560px) {
  html {
    font-size: 81, 25%;
    /* 16px */
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 68.7%;
    /* 11px */
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 62.5%;
    /* 10px */
  }
}

/* general style */
html {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body {
  font-family: 'Noto Sans Math';
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}

/* calculator style */
.calculator {
  min-width: 419px;
  background-color: #3A3A3A;
  padding: 1rem;
}

/* display style */
.display {
  height: 8rem;
}

.display-date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.display-content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  font-size: 4rem;
  font-weight: 600;
  user-select: all;
}

/* keyboard style */
.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr .5fr .5fr;
  gap: .1rem;
  width: 100%;
}

.num-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .1rem;
}

.operators-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: .1rem;
}

.numbers,
.operators,
.especial-chars {
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
  border: 1px solid #1B1B1B;
}

.numbers:hover,
.operators:hover,
.especial-chars:hover {
  border-color: #FFF;
  cursor: pointer;
}